@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@layer base {
    h1 {
        @apply text-2xl;
    }


    th {
        padding: 12px 20px 12px 20px;
        text-align: left;
    }

    td {
        padding: 12px 20px 12px 20px;
    }

    select {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Eo_circle_blue_arrow-down.svg");
        background-repeat: no-repeat;
        background-size: 1.5EM 1EM;
        background-position: right center;
        background-clip: border-box;
        appearance: none;
        padding-left: 4px;
    }
}