* {
    padding: 0;
    margin: 0;
}

.card-title {
    font-weight: bold;
    font-size: 18.5pt;
}

.card-author {
    font-style: italic;
    font-size: 14pt;
}

@media screen and (min-width: 1440px) {
    .card-title {
        font-size: 21.5pt;
    }

    .card-author {
        font-size: 17pt;
    }
}