.give-help-button {
    margin: 10px 10px 0 10px;
}


@media screen and (min-width: 1440px) {
    .small-give-card {
        width: 405px;
        height: 404px;
        min-width: 405px;
    }

    .cover-image {
        width: 405px;
        height: 263px;
        border-radius: 8px 8px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottom-info {
        display: flex;
        flex-direction: column;
        min-height: 141px;
        width: 405px;
    }
}