.small-give-card {
    width: 305px;
    height: 304px;
    min-width: 305px;
}

.cover-image {
    width: 305px;
    height: 203px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-info {
    display: flex;
    flex-direction: column;
    min-height: 101px;
    width: 305px;
}

.top-row {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.icon-row {
    display: flex;
    gap: 8px;
    align-content: center;
}



.layered-container {
    margin: 10px 0px 0px 10px;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.activity-type {
    display: flex;
    background-color: white;
    border-radius: 42px;
    padding: 5px 12px 8px 12px;
    width: fit-content;
    height: 20px;
}

.activity-type-text {
    font-size: 12pt;
    margin-left: 8px;
    margin-top: 3px
}

.layered-text {
    margin: 0px 0px 10px 10px;
    color: white;
}


.icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #0082FE;
    border-radius: 50%;
    padding: 6px;
    width: 14px;
    height: 14px;
    color: #0082FE;
}

.duration-text {
    font-size: 6pt;
}

.location-container {
    display: flex;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}

.participants {
    display: flex;
}


@media screen and (min-width: 1440px) {
    .small-give-card {
        width: 405px;
        height: 404px;
    }

    .cover-image {
        width: 405px;
        height: 263px;
        border-radius: 8px 8px 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .bottom-info {
        display: flex;
        flex-direction: column;
        min-height: 141px;
        width: 405px;
    }
}