.take {
    margin-left: 140px;
}

.filter-bar {
    display: flex;
    margin-top: 20px;
    height: 100px;
    align-items: center;
    gap: 25px;
}

.filter-options {
    display: flex;
    height: 40px;
}

.search-filter {
    width: 280px;
    border-radius: 0;
    border: 1px solid gray;
}

.select-filter {
    width: 200px;
    border-radius: 0;
    border: 1px solid gray;
}

.category-title {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-right: 40px;
}

.featured-row {
    display: flex;
    overflow-x: auto;
    padding-top: 30px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Change scrollbar color */
    gap: 20px
}

.featured-two-challenges {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    max-width: 350px;
}

.challenges-container {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    margin-bottom:30px;
}