.filter-bar {
    margin-left: 140px;
    display: flex;
    margin-top: 20px;
    height: 100px;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
}

.filter-options {
    display: flex;
    height: 40px;
}

.search-filter {
    width: 280px;
    border-radius: 0;
    border: 1px solid gray;
}

.select-filter {
    width: 200px;
    border-radius: 0;
    border: 1px solid gray;
}

.search-results {
    padding: 0 60px 0 60px;
}

.search-item {
    margin-left: 0;
    padding-left: 20px;
    padding-bottom: 30px;
}

.no-results {
    margin-left: 140px;
    margin-bottom: 200px;
}

.category-title {
    margin-left: 140px;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 15px;

    padding-right: 40px;
}

.featured-row {
    margin-left: 140px;
    display: flex;
    overflow: visible;
    gap: 20px
}

.featured-two-challenges {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.featured-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 50px;
    padding: 40px 0 40px 0;
    max-width: 350px;
}

.challenges-container {
    padding: 15px 0 30px 140px;
    display: flex;
    gap: 20px;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* Change scrollbar color */
    overflow: visible;
}