@media screen and (min-width: 1440px) {
    .small-challenge-card {
        width: 405px;
        height: 540px;
    }
    .duration-text {
        font-size: 11px;
    }

    .cover-image {
        width: 405px;
        height: 524px;
    }

    .progress {
        width: 405px;
        height: 16px;
    }
}