.participants-take-row {
    display: flex;
    justify-content: space-between;
    padding: 6px;
}



@media screen and (min-width: 1440px) {
    .small-challenge-card {
        min-width: 405px;
        width: 405px;
        height: 260px;
    }

    .small-challenge-card p {
        font-size: 12px;
    }

    .small-challenge-card:hover {
        height: 350px;
    }

    .cover-image {
        width: 405px;
        height: 244px;
    }

    .progress {
        width: 405px;
        height: 16px;
    }
}