/* Header.css */
.myImpactContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
}

.impactContainer {
    display: flex;
    align-items: center;
    gap: 4px;
}

.coinsContainer {
    display: flex;
    margin-right: 40px;
}